.benefits {
  @extend %section;
}

.benefits__item {
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: block;
    text-align: start;
  }
}

.benefits__list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__icon-container {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__icon {
  display: flex;
  align-self: center;
}

.benefits__section-description {
  width: 100%;
  line-height: 1.7;
}

.benefits__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
