.benefits {
  @extend %section;
}

.benefits__item {
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: block;
    text-align: start;
  }
}

.benefits__list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__icon-container {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__icon {
  display: flex;
  align-self: center;
}

.benefits__section-description {
  width: 100%;
  line-height: 1.7;
}

// .benefits {
//   @extend %section;
// }

// .benefits__title {
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
//   color: var(--text-color);
//   margin-bottom: 10px;
// }

// .benefits__list {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .benefits__icon-container {
//   width: 270px;
//   height: 120px;
//   display: flex;
//   justify-content: center;
//   margin-bottom: 30px;
//   background-color: #f5f4fa;
//   border-radius: 4px;
// }

// .benefits__icon {
//   display: flex;
//   align-self: center;
// }
