.clients {
  @extend %section;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients-item-link {
  @include flexCenter(flex, center, center);

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list {
  display: flex;
  gap: 30px;
}
