.footer {
  background-color: #2f303a;
  @extend %section;
}

.address {
  line-height: 1.7;
  color: var(--background-color);
}

.footer-contact-item:not(:nth-child(3n)) {
  margin-bottom: 9px;
}

.footer-lister {
  align-items: baseline;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.common-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0, 87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
  text-align: center;
}

.social-list-link-footer {
  @include flexCenter(flex, center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social-list-link-footer:hover .social-list-icon,
.social-list-link-footer:focus .social-list-icon {
  fill: var(--background-color);
}

.social-list-icon-footer {
  fill: var(--background-color);
}

.logo-footer {
  text-align: center;
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address {
  display: flex;
  justify-content: center;
}

.contact-footer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.adress-social-pak {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.adress-footer {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 60px;
    margin-bottom: 0;
  }
}

.social-footer {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
