.hero {
  @extend %section;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero__mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero__mobile.jpg);
  }

  @media screen and (min-width: 1200px) {
    @extend %section;
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img.jpg);

    max-width: 1600px;
    margin: 0 auto;
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 360px;
    height: 84px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--background-color);
  }
}
