.team {
  @extend %section;
  background-color: #f5f4fa;
}

.team__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-cards {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    // max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.team-cards:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 0;
  }
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
