.contact {
  //   @include flexCenter(flex, flex-end, center);
  //   padding: 0;
  //   margin: 0;
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}

.contact__link {
  display: flex;
  font-size: 14px;
  color: var(--section-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
}

.contact__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
}
