.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--background-color);
  padding: 40px;
  width: calc(100% - 30px);
  max-width: 450px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.modal-close-btn-icon {
  transition: fill var(--animation);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 528px;
//   height: 581px;
//   background-color: var(--background-color);
//   padding: 40px;
// }

// .modal-close-btn {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 30px;
//   height: 30px;
//   background-color: transparent;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   padding: 0;
//   border-radius: 50%;

//   &:hover,
//   &:focus {
//     cursor: pointer;
//   }
// }

// .modal-close-btn-icon {
//   transition: fill var(--animation);

//   .modal-close-btn:hover &,
//   .modal-close-btn:focus & {
//     fill: var(--accent-color);
//   }
// }
