.section-title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 44px;
  }
}
